dataset/
output/
model/

*.db
*.sqlite
*.sqlite3

*.tsv
*.csv

*.zip
*.tar
*.tar.gz

__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
env/
.env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
*.tmp
*.temp

